@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
    margin:0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/images/sol.jpeg');
    background-size: 8%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height : 100%;
}

h2 {
    text-align: center;
}

h3 {
    height: 23px;
}

.paramsBtn {
    min-width: 305px;
    height: 18px;
    padding: 0;
    line-height: 0;
    margin-top: 20px;
    border: 1px solid black;
    border-radius:2px 2px 0 0;
}

.paramsBtn:hover {
    cursor: pointer;
}

.params {
    background-color: white;
    margin: 0 0 5px
}

.params--hidden {
    display: none;
}

.players {
    border: 5px solid #333;
    padding: 50px 150px;
    border-radius: 250px;
    background-color: #02764F;
}

.playerDivBtn {
    display: flex;
    justify-content: center;
}

.playerDivBtn button {
    margin: 0 2px;
}

.playerDivBtn--hidden, .playBtn--hidden {
    pointer-events: none;
    opacity: 0.5;
}

.playerAsBtn--hidden {
    display: none
}


.params__form {
    padding: 15px;
    border: 1px solid black;
    border-top: none;
    border-radius: 2px
}

.params__form__radio {
    display: flex;
    margin-bottom: 10px;
}

.params__form__radio div {
    display: flex;
    margin-right: 15px;
}

.params__form__radio label {
    margin-top: 4px;
}

.params__form__select select {
    padding: 5px;
}

.bj__players {
    display: flex;
    justify-content: space-between;
}

.bj__players__div {
    margin: 15px;
    border: thick double black;
    border-radius: 14px;
    padding: 10px;
    width: 160px;
}

.bj__cpu__pointCont {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.bj__cpu__point {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 25px;
    width:60px;
    border : 2px solid #444;
    border-radius: 30px;
    font-weight: 500;
}

.bj__cpu__card {
    display: flex;
}

.bj__cpu__card__cpuCardCont {
    height : 150px;
    width: 100px;
    border-radius: 7px;
    background-color: white;
    border: 1px solid black;
    margin: 10px 5px 5px;
}

.bj__cpu__card__cpuCardCont__top {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 20%;
}

.bj__cpu__card__cpuCardCont__top p {
    margin: 0;
    padding-left: 8px;
    font-weight: 600;
}

.bj__cpu__card__cpuCardCont__mid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.bj__cpu__card__cpuCardCont__mid img {
    height: 60%;
}

.bj__cpu__card__cpuCardCont__bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 20%;
}

.bj__cpu__card__cpuCardCont__bottom p {
    margin: 0;
    padding-right: 8px;
    font-weight: 600;
}

.playerMoney {
    text-align: center;
    font-size: 0.85em;
    color: white;
}

.playerDivBtn button {
    height: 35px;
    min-width: 33%;
    border: 3px solid white;
    border-radius: 25px;
    transition: all 150ms ease-in-out ;
    background-color: #02764F;
    color: white;
}

.playerDivBtn button:hover {
    cursor: pointer;
    transition: all 150ms ease-in-out ;
    background-color: white;
    color: #02764F;
}

.playersCards {
    display: flex;
}

.playersTotal {
    text-align: center;
    font-weight: 600;
    color: white;
}

.bj__player__card {
    display: flex;
}

.bj__player__card__playerCardCont:first-child {
    margin: 5px;
}

.bj__player__card__playerCardCont {
    height : 90px;
    width: 60px;
    border-radius: 7px;
    background-color: white;
    border: 1px solid black;
    margin: 5px 5px 5px -40px;
}

.bj__player__card__playerCardCont__top {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 20%;
}

.bj__player__card__playerCardCont__top p {
    margin: 0;
    padding-left: 4px;
    font-weight: 600;
    font-size: 0.6em;
}

.bj__player__card__playerCardCont__mid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.bj__player__card__playerCardCont__mid img {
    height: 60%;
}

.bj__player__card__playerCardCont__bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 20%;
}

.bj__player__card__playerCardCont__bottom p {
    margin: 0;
    padding-right: 4px;
    font-weight: 600;
    font-size: 0.6em;
}

#startGame {
    margin-top: 15px;
    height: 40px;
    width: 100%;
}

#startGame:hover {
    cursor: pointer;
}